Flask>=1.0.0
gunicorn==20.0.4
ipykernel==5.1.0
ipython==7.16.3
itsdangerous==0.24
jedi==0.13.3
Jinja2>=2.10.1
joblib==0.14.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==3.1.2
notebook>=5.7.8
numpy==1.16.1
pandas==0.25.3
plotly==2.2.1
requests>=2.20.0
scikit-learn==0.22.1
scipy==1.4.1
selenium==3.7.0
sklearn==0.0
virtualenv==15.2.0
virtualenvwrapper-win==1.2.5
webencodings==0.5.1
werkzeug>=0.15.3
widgetsnbextension==3.4.2
